body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}


#box-1{
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    background-color: aqua;
}

#box-1>p{
    padding: 5px;

}

/* this is for box 2 */

#box-2{
  width: 90px;
  height: 90px;
  padding: 20px;
  border-top: 20px solid black;
  border-bottom: 20px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  background-color: yellow;
  margin-left: 150px;
}


/* this is for box 3 */

#box-3{
    width: 80px;
    height: 80px;
    padding: 20px;
    border: 5px solid black;
    background-color: red;
    margin-left: 20px;
}

img{
    float: left;

}

footer{
    clear: left;
}

.one{
    float: left;
    width: 25%;
    background-color: blueviolet;
}

.two{
    float: left;
    width: 25%;
    background-color: brown;
}

.three{
    float: left;
    width: 40%;
    background-color: chartreuse;
}

.container{
    display: flex;
    gap: 10px;
}